services:
  axonserver-1:
    image: 'axoniq/axonserver:2025.2.2'
    pull_policy: always
    environment:
      - axoniq_axonserver_name=axonserver-1
      - axoniq_axonserver_hostname=localhost
      - axoniq_axonserver_internal_hostname=axonserver-1
      - server_port=8024
      - axoniq_axonserver_port=8124
      - axoniq_axonserver_internal_port=8224
    ports:
      - '8024:8024'
      - '8124:8124'
      - '8224:8224'
    volumes:
      - ./axonserver/axonserver-1/data:/axonserver/data
      - ./axonserver/axonserver-1/events:/axonserver/events
      - ./axonserver/axonserver-1/plugins:/axonserver/plugins
      - ./axonserver/axonserver-1/log:/axonserver/log
      - ./axonserver/axoniq.license:/axonserver/config/axoniq.license  # uncomment if you have a license file


  axonserver-2:
    image: 'axoniq/axonserver:2025.2.2'
    pull_policy: always
    environment:
      - axoniq_axonserver_hostname=localhost
      - axoniq_axonserver_internal_hostname=axonserver-2
      - server_port=8025
      - axoniq_axonserver_port=8125
      - axoniq_axonserver_internal_port=8225
    ports:
      - '8025:8025'
      - '8125:8125'
      - '8225:8225'
    volumes:
      - ./axonserver/axonserver-2/data:/axonserver/data
      - ./axonserver/axonserver-2/events:/axonserver/events
      - ./axonserver/axonserver-2/plugins:/axonserver/plugins
      - ./axonserver/axonserver-2/log:/axonserver/log
      - ./axonserver/axoniq.license:/axonserver/config/axoniq.license  # uncomment if you have a license file

  axonserver-3:
    image: 'axoniq/axonserver:2025.2.2'
    pull_policy: always
    environment:
      - axoniq_axonserver_hostname=localhost
      - axoniq_axonserver_internal_hostname=axonserver-3
      - server_port=8026
      - axoniq_axonserver_port=8126
      - axoniq_axonserver_internal_port=8226
    ports:
      - '8026:8026'
      - '8126:8126'
      - '8226:8226'
    volumes:
      - ./axonserver/axonserver-3/data:/axonserver/data
      - ./axonserver/axonserver-3/events:/axonserver/events
      - ./axonserver/axonserver-3/plugins:/axonserver/plugins
      - ./axonserver/axonserver-3/log:/axonserver/log
      - ./axonserver/axoniq.license:/axonserver/config/axoniq.license  # uncomment if you have a license file

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: heroes_of_ddd_development
      POSTGRES_USER: heroes_of_ddd_db_user
      POSTGRES_PASSWORD: heroes_of_ddd_db_password
    ports:
      - "6446:5432"
