services:
  axonserver-1:
    image: 'axoniq/axonserver:2025.2.2'
    hostname: axonserver-1
    environment:
      - AXONIQ_AXONSERVER_NAME=axonserver-1
      - AXONIQ_AXONSERVER_HOSTNAME=localhost
      - AXONIQ_AXONSERVER_INTERNAL_HOSTNAME=axonserver-1
      - AXONIQ_AXONSERVER_AUTOCLUSTER_FIRST=axonserver-1
      - AXONIQ_AXONSERVER_AUTOCLUSTER_CONTEXTS=_admin,default
    ports:
      - '8024:8024'
      - '8124:8124'
      - '8224:8224'
    volumes:
      - ./axonserver/axonserver-1/data:/axonserver/data
      - ./axonserver/axonserver-1/events:/axonserver/events
      - ./axonserver/axonserver-1/plugins:/axonserver/plugins
      - ./axonserver/axonserver-1/log:/axonserver/log
      - ./axonserver/axoniq.license:/axonserver/config/axoniq.license
    networks:
      - axon-network

  axonserver-2:
    image: 'axoniq/axonserver:2025.2.2'
    hostname: axonserver-2
    environment:
      - AXONIQ_AXONSERVER_NAME=axonserver-2
      - AXONIQ_AXONSERVER_HOSTNAME=localhost
      - AXONIQ_AXONSERVER_INTERNAL_HOSTNAME=axonserver-2
      - AXONIQ_AXONSERVER_AUTOCLUSTER_FIRST=axonserver-1
      - AXONIQ_AXONSERVER_AUTOCLUSTER_CONTEXTS=_admin,default
    ports:
      - '8025:8024'
      - '8125:8124'
      - '8225:8224'
    volumes:
      - ./axonserver/axonserver-2/data:/axonserver/data
      - ./axonserver/axonserver-2/events:/axonserver/events
      - ./axonserver/axonserver-2/plugins:/axonserver/plugins
      - ./axonserver/axonserver-2/log:/axonserver/log
      - ./axonserver/axoniq.license:/axonserver/config/axoniq.license
    networks:
      - axon-network

  axonserver-3:
    image: 'axoniq/axonserver:2025.2.2'
    hostname: axonserver-3
    environment:
      - AXONIQ_AXONSERVER_NAME=axonserver-3
      - AXONIQ_AXONSERVER_HOSTNAME=localhost
      - AXONIQ_AXONSERVER_INTERNAL_HOSTNAME=axonserver-3
      - AXONIQ_AXONSERVER_AUTOCLUSTER_FIRST=axonserver-1
      - AXONIQ_AXONSERVER_AUTOCLUSTER_CONTEXTS=_admin,default
    ports:
      - '8026:8024'
      - '8126:8124'
      - '8226:8224'
    volumes:
      - ./axonserver/axonserver-3/data:/axonserver/data
      - ./axonserver/axonserver-3/events:/axonserver/events
      - ./axonserver/axonserver-3/plugins:/axonserver/plugins
      - ./axonserver/axonserver-3/log:/axonserver/log
      - ./axonserver/axoniq.license:/axonserver/config/axoniq.license
    networks:
      - axon-network

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: heroes_of_ddd_development
      POSTGRES_USER: heroes_of_ddd_db_user
      POSTGRES_PASSWORD: heroes_of_ddd_db_password
    ports:
      - "6446:5432"
    networks:
      - axon-network

networks:
  axon-network:
    driver: bridge
